#### Tyler's Initial Capstone Scratchpad

In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import prepare

In [2]:
# read in the data

df = pd.read_csv('survey.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [4]:
df.head(1).T

                                             0
Timestamp                  2014-08-27 11:29:31
Age                                         37
Gender                                  Female
Country                          United States
state                                       IL
self_employed                              NaN
family_history                              No
treatment                                  Yes
work_interfere                           Often
no_employees                              6-25
remote_work                                 No
tech_company                               Yes
benefits                                   Yes
care_options                          Not sure
wellness_program                            No
seek_help                                  Yes
anonymity                                  Yes
leave                            Somewhat easy
mental_health_consequence                   No
phys_health_consequence                     No
coworkers                         Some of them
supervisor                                 Yes
mental_health_interview                     No
phys_health_interview                    Maybe
mental_vs_physical                         Yes
obs_consequence                             No
comments                                   NaN

In [56]:
df.seek_help.value_counts()

No            646
Don't know    363
Yes           250
Name: seek_help, dtype: int64

df.gender = df.gender.str.strip()

In [12]:
df.gender = df.gender.str.lower()

Empty DataFrame
Columns: [timestamp, age, gender, country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, comments]
Index: []

[0 rows x 27 columns]

In [14]:
df.gender.value_counts()

male                                              824
female                                            185
m                                                 150
f                                                  53
woman                                               4
make                                                4
cis male                                            3
female (trans)                                      2
man                                                 2
trans woman                                         1
nah                                                 1
male-ish                                            1
ostensibly male, unsure what that really means      1
fluid                                               1
neuter                                              1
male leaning androgynous                            1
all                                                 1
queer/she/they                                      1
p                                                   1
msle                                                1
genderqueer                                         1
male (cis)                                          1
cis man                                             1
guy (-ish) ^_^                                      1
enby                                                1
queer                                               1
cis female                                          1
maile                                               1
malr                                                1
non-binary                                          1
a little about you                                  1
agender                                             1
cis-female/femme                                    1
female (cis)                                        1
trans-female                                        1
femail                                              1
androgyne                                           1
mal                                                 1
something kinda male?                               1
mail                                                1
femake                                              1
Name: gender, dtype: int64